<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
	<title>SevenoneSeven | Global </title>
	<meta name="description" content="Creative Agency, Marketing Agency Template">
	<meta name="keywords" content="Creative Agency, Marketing Agency">
	<meta name="author" content="rajesh-doot">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="theme-color" content="#e8f1ff">
	<!--Website-favicon-->
	<link rel="icon" type="image/x-icon" href="~/images/logo.jpeg">
	
	<!--Plugin-css-->
	<link href="~/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/css/plugin.min.css" rel="stylesheet">
	<link href="~/css/all.min.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&amp;family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet">
	<!-- Template-style-->
	<link href="~/css/style.css" rel="stylesheet">
	<link href="~/css/responsive.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SevenOneSeven.styles.css" asp-append-version="true" />
</head>
<body>
   <!--Start Header-->
		  <header class="header-dark ree-header fixed-top">
			<div class="container-fluid m-p-l-r-0">
			  <div class="menu-header horzontl">
			   <div class="menu-logo">
				  <div class="dskt-logo"><a class="nav-brand" href="/home/index">
				   <img src="~/images/logo.jpeg" alt="Logo" class="ree-logo l-dark" />
				   <img src="~/images/logo.jpeg" alt="Logo" class="ree-logo l-white" />
				 </a> </div>
				</div>
				<div class="ree-nav" role="navigation">
				  <ul class="nav-list">
					<li class="megamenu">
					 <a href="#" class="menu-links">Residency & Citizenship</a>
					 <div class="menu-dropdown">
						<div class="menu-block-set">
						  <div class="container">
							<div class="menu-block-a">
							  <div class="mega-menu-blocks">
								  <h4>SevenoneSeven <br />Global</h4>
								<p class="mb10">Be rest assured that when you engage with SevenOneSeven Global, you										will receive a highly personalized, professional, and bespoke service.</p>
								
								<a href="get-quote.html" class="ree-btn ree-btn0 ree-btn-grdt2 mt30"> Request Quote <i						class="fas fa-arrow-right fa-btn"></i></a>
							  </div>
							  <div class="mega-menu-blocks">
								<div class="menu-inner-block-a">
								  <div class="inner-blockss">
									<label class="menu-headings">Residency Program</label>
									<ul class="menu-li-link">
									  <li><a href="/home/R_Canada">Canada</a></li>
									  <li><a href="/home/R_Unitedstate">United States</a></li>
									  <li><a href="/home/R_Unitedkingdom">United Kingdom</a></li>
									  <li><a href="/home/R_Ireland">Ireland</a></li>
									  <li><a href="/home/R_Portugal">Portugal</a></li>
									  <li><a href="/home/R_Greece">Greece</a></li>
									  <li><a href="/home/R_Spain">Spain</a></li>
									   <li><a href="/home/R_Malta">Malta</a></li>
									    <li><a href="/home/R_Australia">Austria</a></li>
									</ul>
								  </div>
								  <div class="inner-blockss">
									<label class="menu-headings">Citizenship Program</label>
									<ul class="menu-li-link">
									  <li><a href="/home/C_Dominica">Dominica</a></li>
									  <li><a href="/home/R_Grenada">Grenada</a></li>
									  <li><a href="/home/C_kitts_nevis">St Kitts & Nevis</a></li>
									  <li><a href="/home/C_St_Lucia">St Lucia</a></li>
									  <li><a href="/home/C_Antigua_Barbuda">Antigua & Barbuda</a></li>
									   <li><a href="/home/C_Montenegro">Montenegro</a></li>
									  
									</ul>
								  </div>
								 
								  <div class="inner-blockss">
									<label class="menu-headings">&nbsp;</label>
								  </div>
								</div>
							  </div>
							</div>
						  </div>
						</div>
						<div class="menu-extra-info">
						  <div class="container">
							<div class="menu-extra-info-inner">
							  <ul>
								<li>
								  <div class="menu-icon-ree">
									<div class="webiocon"> <i class="far fa-envelope"></i> </div>
								  </div>
								  <a href=""><span class="__cf_email__" data-cfemail="7c0e19190a1d123c1d1e1f18521f1311">info@SevenOneSevenglobal.com</span></a>
								</li>
								<li>
								  <div class="menu-icon-ree">
									<div class="webiocon"> <i class="fas fa-phone-alt"></i> </div>
								  </div>
								  <a href="tel:+2349166667628">+234 916 6667 628</a>
								</li>
								<li>
								  <div class="menu-icon-ree">
									<div class="webiocon"> <i class="fab fa-whatsapp"></i> </div>
								  </div>
								  <a href="https://wa.me/+2349166667628">+234 916 6667 628</a>
								</li>
							  </ul>
							</div>
						  </div>
						</div>
					  </div>
					</li>
					<li class="megamenu mega-small">
					  <a href="#"  class="menu-links">Study Abroad</a>
					  <div class="menu-dropdown">
						<div class="menu-block-set"> 
						  <a class="dropdown-item" href="/home/Study_in_Austria">Austria </a>
						  <a class="dropdown-item" href="/home/Study_in_Sweden">Sweden</a>
						  <a class="dropdown-item" href="/home/Study_in_belgium">Belgium</a>
						  <a class="dropdown-item" href="/home/Study_in_Canada">Canada</a>					
						  <a class="dropdown-item" href="/home/Study_in_Portugal">Portugal</a>													<a class="dropdown-item" href="/home/Study_in_Unitedkingdom"> United Kingdom</a>
						  <a class="dropdown-item" href="/home/study_in_unitedstates"> United States</a>
						</div>
					  </div>
					 
					</li>
					<li class="megamenu">
					  <a href="/home/Internation_Realty" class="menu-links">International Realty</a>
					 <!-- <div class="menu-dropdown">
						<div class="menu-block-set">
						  <div class="container">
							<div class="menu-block-a">
							  <div class="mega-menu-blocks">
								<h4>Creative, Premium & Scalable Solutions For App and Web Development</h4>
								<a href="get-quote.html" class="ree-btn ree-btn0 ree-btn-grdt2 mt30"> Request Quote <i class="fas fa-arrow-right fa-btn"></i></a>
							  </div>
							  <div class="mega-menu-blocks">
								<div class="menu-inner-block-a">
								  <div class="inner-blockss">
									<ul class="menu-li-link">
									  <li><a href="about.html">About Us</a></li>
									  <li><a href="about-2.html">About Us - 2</a></li>
									  <li><a href="career.html">Career</a></li>
									  <li><a href="career-2.html">Career - 2</a></li>
									  <li><a href="case-study.html">Case Study</a></li>
									</ul>
								  </div>
								  <div class="inner-blockss">
									<ul class="menu-li-link">
									  <li><a href="case-study-details.html">Case Study Details</a></li>
									  <li><a href="core-values.html">Our Core Value</a></li>
									  <li><a href="get-quote.html">Contact Us</a></li>
									  <li><a href="get-quote-2.html">Contact Us - 2</a></li>
									  <li><a href="our-team.html">Our Team</a></li>
									</ul>
								  </div>
								  <div class="inner-blockss">
									<ul class="menu-li-link">
									  <li><a href="our-team-2.html">Our Team - 2</a></li>
									  <li><a href="pricing.html">Pricing</a></li>
									  <li><a href="pricing-2.html">Pricing - 2</a></li>
									  <li><a href="services.html">Service</a></li>
									  <li><a href="services-2.html">Service - 2</a></li>
									</ul>
								  </div>
								  <div class="inner-blockss">
									<ul class="menu-li-link">
									  <li><a href="service-details.html">Service Details</a></li>
									  <li><a href="service-details-2.html">Service Details - 2</a></li>
									  <li><a href="why-us.html">Why Choose Us</a></li>
									</ul>
								  </div>
								</div>
							  </div>
							</div>
						  </div>
						</div>
						<div class="menu-extra-info">
						  <div class="container">
							<div class="menu-extra-info-inner">
							  <ul>
								<li>
								  <div class="menu-icon-ree">
									<div class="webiocon"> <i class="far fa-envelope"></i> </div>
								  </div>
								  <a href="https://separateweb.com/cdn-cgi/l/email-protection#7e0c1b1b081f103e1f1c1d1a501d1113"><span class="__cf_email__" data-cfemail="85f7e0e0f3e4ebc5e4e7e6e1abe6eae8">[email&#160;protected]</span></a>
								</li>
								<li>
								  <div class="menu-icon-ree">
									<div class="webiocon"> <i class="fas fa-phone-alt"></i> </div>
								  </div>
								  <a href="tel:+91123456789">+91 123 456 7890</a>
								</li>
								<li>
								  <div class="menu-icon-ree">
									<div class="webiocon"> <i class="fab fa-whatsapp"></i> </div>
								  </div>
								  <a href="https://wa.me/+91123456789">+91 123 456 7890</a>
								</li>
								<li>
								  <div class="menu-icon-ree">
									<div class="webiocon"> <i class="fab fa-skype"></i> </div>
								  </div>
								  <a href="#">Reevan.Skype</a>
								</li>
								<li>
								  <div class="menu-icon-ree">
									<div class="webiocon"> <i class="fas fa-question"></i> </div>
								  </div>
								  <a href="#">Why Choose Us</a>
								</li>
							  </ul>
							</div>
						  </div>
						</div>
					  </div>-->
					</li>
					
					
					<li class="megamenu mega-small">
					  <a href="/home/Franchising"  class="menu-links">Franchising</a>
					 
					</li>
					<!--<li class="megamenu mega-small">
					  <a href="#"  class="menu-links">Contact Us</a>
					  <div class="menu-dropdown">
						<div class="menu-block-set"> 
						  <a class="dropdown-item" href="get-quote.html">Contact Us</a>
						  <a class="dropdown-item" href="get-quote-2.html">Contact Us - 2</a>			 
						</div>
					  </div>
					</li>-->
				  </ul>
				</div>
				<div class="ree-nav-cta">
				  <ul>
					<li><a href="/home/contact_us" class="ree-btn ree-btn0 ree-btn-grdt2 no-shadows"> Contact Us</a> </li>
				  </ul>
				</div>
				<div class="mobile-menu2">
				  <ul class="mob-nav2">
					<li><a href="get-quote.html" class="ree-btn2 ree-btn-grdt1"><i class="fas fa-envelope-open-text"></i></a></li>
					<li class="navm-"><a class="toggle" href="#"> <span></span> </a> </li>
				  </ul>
				</div>
				<!-- mobile Nav -->
				<nav id="main-nav">
				  <ul>
					<li>
					  <a href="#">Citizenship & Residency</a>
					  <ul>
						<li><a href="#">Residency Program</a>
						  <ul>
									<li><a href="/home/C_Dominica">Dominica</a></li>
									  <li><a href="/home/R_Grenada">Grenada</a></li>
									  <li><a href="/home/C_kitts_nevis">St Kitts & Nevis</a></li>
									  <li><a href="/home/C_St_Lucia">St Lucia</a></li>
									  <li><a href="/home/C_Antigua_Barbuda">Antigua & Barbuda</a></li>
									   <li><a href="/home/C_Montenegro">Montenegro</a></li>
						  </ul>
						</li>
						<li><a href="#">Citizenship Program</a>
						  <ul>
							 <li><a href="/home/C_Dominica">Dominica</a></li>
									  <li><a href="/home/R_Grenada">Grenada</a></li>
									  <li><a href="/home/C_kitts_nevis">St Kitts & Nevis</a></li>
									  <li><a href="/home/C_St_Lucia">St Lucia</a></li>
									  <li><a href="/home/C_Antigua_Barbuda">Antigua & Barbuda</a></li>
									   <li><a href="/home/C_Montenegro">Montenegro</a></li>
						  </ul>
						</li>
					  </ul>
					</li>              
					<li><a href="#">Study Abroad</a>
					  <ul>
						<li><a class="dropdown-item" href="/home/Study_in_Austria">Austria </a></li>
						 <li> <a class="dropdown-item" href="/home/Study_in_Sweden">Sweden</a></li>
						 <li> <a class="dropdown-item" href="/home/Study_in_belgium">Belgium</a></li>
						 <li> <a class="dropdown-item" href="/home/Study_in_Canada">Canada</a>	</li>			
						 <li> <a class="dropdown-item" href="/home/Study_in_Portugal">Portugal</a>	</li>												<li><a class="dropdown-item" href="/home/Study_in_Unitedkingdom"> United Kingdom</a></li>
						  <li><a class="dropdown-item" href="/home/study_in_unitedstates"> United States</a></li>
					  </ul>
					</li>
					<li><a href="/home/Internation_Realty">International Realty</a>
					</li>
					<li><a href="/home/Franchising">Franchising</a>
					  
					</li>
					<li><a href="/home/contact_us">Contact us</a></li>             
				  </ul>
				  <ul class="bottom-nav">
					
					<li class="ree-hc">
					  <a href="https://separateweb.com/cdn-cgi/l/email-protection#f3929190b3968b929e839f96dd909c9e" target="_blank">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
						  <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" />
						  <path d="M0 0h24v24H0z" fill="none" />
						</svg>
					  </a>
					</li>
					<li class="ree-hc">
					  <a href="skype:reevan.company" rel="noreferrer" target="_blank">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
						  <path d="M424.7 299.8c2.9-14 4.7-28.9 4.7-43.8 0-113.5-91.9-205.3-205.3-205.3-14.9 0-29.7 1.7-43.8 4.7C161.3 40.7 137.7 32 112 32 50.2 32 0 82.2 0 144c0 25.7 8.7 49.3 23.3 68.2-2.9 14-4.7 28.9-4.7 43.8 0 113.5 91.9 205.3 205.3 205.3 14.9 0 29.7-1.7 43.8-4.7 19 14.6 42.6 23.3 68.2 23.3 61.8 0 112-50.2 112-112 .1-25.6-8.6-49.2-23.2-68.1zm-194.6 91.5c-65.6 0-120.5-29.2-120.5-65 0-16 9-30.6 29.5-30.6 31.2 0 34.1 44.9 88.1 44.9 25.7 0 42.3-11.4 42.3-26.3 0-18.7-16-21.6-42-28-62.5-15.4-117.8-22-117.8-87.2 0-59.2 58.6-81.1 109.1-81.1 55.1 0 110.8 21.9 110.8 55.4 0 16.9-11.4 31.8-30.3 31.8-28.3 0-29.2-33.5-75-33.5-25.7 0-42 7-42 22.5 0 19.8 20.8 21.8 69.1 33 41.4 9.3 90.7 26.8 90.7 77.6 0 59.1-57.1 86.5-112 86.5z" />
						</svg>
					  </a>
					</li>
					<li class="ree-hc">
					  <a href="wa.me/%2b91123456789.html" rel="noreferrer" target="_blank">
						<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"	style="enable-background:new 0 0 512 512;" xml:space="preserve">
						  <g>
							<path d="M256.064,0h-0.128C114.784,0,0,114.816,0,256c0,56,18.048,107.904,48.736,150.048l-31.904,95.104l98.4-31.456 C155.712,496.512,204,512,256.064,512C397.216,512,512,397.152,512,256S397.216,0,256.064,0z M405.024,361.504 c-6.176,17.44-30.688,31.904-50.24,36.128c-13.376,2.848-30.848,5.12-89.664-19.264C189.888,347.2,141.44,270.752,137.664,265.792
							  c-3.616-4.96-30.4-40.48-30.4-77.216s18.656-54.624,26.176-62.304c6.176-6.304,16.384-9.184,26.176-9.184 c3.168,0,6.016,0.16,8.576,0.288c7.52,0.32,11.296,0.768,16.256,12.64c6.176,14.88,21.216,51.616,23.008,55.392 c1.824,3.776,3.648,8.896,1.088,13.856c-2.4,5.12-4.512,7.392-8.288,11.744c-3.776,4.352-7.36,7.68-11.136,12.352 c-3.456,4.064-7.36,8.416-3.008,15.936c4.352,7.36,19.392,31.904,41.536,51.616c28.576,25.44,51.744,33.568,60.032,37.024 c6.176,2.56,13.536,1.952,18.048-2.848c5.728-6.176,12.8-16.416,20-26.496c5.12-7.232,11.584-8.128,18.368-5.568 c6.912,2.4,43.488,20.48,51.008,24.224c7.52,3.776,12.48,5.568,14.304,8.736C411.2,329.152,411.2,344.032,405.024,361.504z"/>
						  </g>
						</svg>
					  </a>
					</li>
				  </ul>
				</nav>
			  </div>
			</div>
		  </header>
		  <!-- Header End -->
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
	<!--start contact block-->
    <section class="home-contact mt110 pb100">
      <div class="container">
        <div class="row">
          <div class="cta-info-tt">
            <div class="row justify-content-between">
              <div class="col-lg-5 cinftt">
                <div class="media">
                  <div class="ree-icon-set w80">
                    <img src="~/images/icons/project.png" alt="web" class="w-100">
                  </div>
                  <div class="ree-details-set pera-block">
                    <p>Be rest assured that when you engage with SevenOneSeven Global, you will receive a highly personalized, professional, and bespoke service.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 cinftt">
                <div class="media">
                  <div class="ree-icon-set w80">
                    <img src="~/images/icons/app.png" alt="web" class="w-100">
                  </div>
                  <div class="ree-details-set pera-block">
                    <p>We have a specialist team of lawyers and advisors that will guide you through all the industry-leading internationalization, migration, or mobility solutions</p>		
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mt30">
            <div class="ourinfo">
              <p>Email ID</p>
              <h5><a href="#"><span class="__cf_email__" data-cfemail="90e2f5f5e6f1fed0f1f2f3f4bef3fffd">info@SevenOneSevenglobal.com</span></a></h5>
            </div>
          </div>
          <div class="col-lg-3 mt30">
            <div class="ourinfo">
              <p>Mobile Number</p>
              <h5><a href="#">+234 916 6667 628</a></h5>
            </div>
          </div>
          <div class="col-lg-3 mt30">
            <div class="ourinfo">
              <p>WhatsApp</p>
              <h5><a href="#">+234 916 6667 628</a></h5>
            </div>
          </div>
         
        </div>
      </div>
    </section>
    <!--end contact block-->
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
	<!--All js files-->
	<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/modernizr-3.5.0.min.js"></script>
	<script src="~/js/jquery-3.6.0.min.js"></script>
	<script src="~/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/app.bundle.js"></script>	
	<script src="~/js/parallax.min.js"></script>	
	<!--Common reevan script file-->
	<script src="~/js/main.js"></script>
</body>
</html>