
@{
    ViewData["Title"] = "C_Antigua_Barbuda";
}
<!-- Header title -->
   <section class="header-title head-dez3 dark-bg pera-block">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
             
            </div>			
         </div>
      </div>
   </section>
   <!-- Header title end -->


      <!--page head-->
      <div class="port-head-sec sec-pad r-bg-x">
         <div class="container">
            <div class="row vcenter">
               <div class="col-lg-6">
                  <div class="page-headings">
                     <span class="sub-heading mb15" data-aos="fade-up" data-aos-delay="200"></span>
                     <h1 class="mb15" data-aos="fade-up" data-aos-delay="400">Antigua & Barbuda
Antigua</h1>
                     <p class="h-light" data-aos="fade-up" data-aos-delay="600"> offers it all. A stunning destination, strong passport, remotely processed with no interviews or pre-visit requirements

</p>
<br />
<br />

         				
 <p class="h-light" data-aos="fade-up" data-aos-delay="600">Passport within 3 – 6 months</p>
 <p class="h-light" data-aos="fade-up" data-aos-delay="600">Visa free to 150+ countries</p>

                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="sol-img m-mt30" data-aos="fade-in" data-aos-delay="400"><img src="~/images/img/Antiugua_Barbuda.png" alt="our-staff" class="img-fluid"></div>
               </div>
            </div>
         </div>
      </div>
        <!--page head end-->









