
@{
    ViewData["Title"] = "Franchising";
}
<!-- Header title -->
   <section class="header-title head-dez3 dark-bg pera-block">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
             
            </div>			
         </div>
      </div>
   </section>
   <!-- Header title end -->
      <!--page head-->
      <div class="port-head-sec sec-pad r-bg-x">
         <div class="container">
            <div class="row vcenter">
               <div class="col-lg-6">
                  <div class="page-headings">
                     <span class="sub-heading mb15" data-aos="fade-up" data-aos-delay="200"></span>
                     <h1 class="mb15" data-aos="fade-up" data-aos-delay="400">Franchising</h1>
                     <p class="h-light" data-aos="fade-up" data-aos-delay="600">We are a full-service agency matching franchise owners and partners in Europe, UK, US, and Canada. As a prolific recruiter of franchisees, we assist a few specialists brand with insights that allows our clients to partner with companies to run with their brands in their own market. 
</p>
<p class="h-light" data-aos="fade-up" data-aos-delay="600">SevenOneSeven USP is that our clients get real world solutions that have practical benefit. There is so much rehashed content in the franchising space that we see the same mistakes being made over and over. Everything that SevenOneSeven Global does in franchising is based on successful historical, and we are completely involved in it. 
</p>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="sol-img m-mt30" data-aos="fade-in" data-aos-delay="400"><img src="~/images/img/fransching.png" alt="our-staff" class="img-fluid"></div>
               </div>
            </div>
         </div>
      </div>
        <!--page head end-->









