@{
    ViewData["Title"] = "Home Page";
}

<!--start Hero Section  -->
	<section class="home-hero logo-design">		
		<div class="container">
			<div class="row">
				<div class="col-lg-6 vcenter">
					<div class="hero-content-a">
						<h1 class="mb30" data-aos="fade-in" data-aos-delay="200">Discover the freedom of dual or multiple Residency & citizenship.</h1>
						<p data-aos="fade-in" data-aos-delay="500">Having a dual / multiple residency or citizenship doesn't mean you have lost faith in your country of origin – it just means positioning yourself to plug into global opportunities</p>
						<a href="/home/contact_us" class="ree-btn  ree-btn-grdt1 mt40 mw-80 no-shadows" data-aos="fade-in" data-aos-delay="800">Let's Talk <i class="fas fa-arrow-right fa-btn"></i></a>
					</div>
				</div>
				<div class="col-lg-6 vcenter">
					<div class="sol-image m-mt30">
						<img src="~/images/img/landing.png" alt="web development" class="img-fluid" data-aos="fade-in" data-aos-delay="400">
					</div>
				</div>
			</div>
		</div>		
	</section>
    <!--start home-about  -->
	<section class="home-about sec-pad r-bg-x">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="about-content-home m-mb60 pera-block">					
						<h2>Extensive menu of bespoke business and life solutions</h2>
						<p>Because we see obtaining a second residency & citizenship, wealth visas and economic migration differently, our solutions are targeted at plugging into international opportunities. For us, clients who would like to relocate for good, or prefer to get another residency or citizenship without relocating are equally catered to at the same level of professional service.</p>
					
						<div class="btn-sets mt40">
							<a href="/home/contact_us" class="ree-btn  ree-btn-grdt2 mr20">Contact us<i	class="fas fa-arrow-right fa-btn"></i></a>
							
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="sol-images"><img src="~/images/img/Frame.png" alt="#" class="img-fluid"></div>
				</div>
			</div>
		</div>
	</section>
	<!--home-about end-->
	<!--hero Section End-->
	<section class="home-about sec-pad r-bg-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="about-content-home m-mb60 pera-block">
             
                          <h2>International education, business expansion mobility, mobility and migration is the core of what we do.</h2>
                          <p>Our SevenOneSeven Global team member come from all work of life and from a wide range of professional fields; Business, Law, Banking & Finance, Technology, to mention a few. As a collective, we are formidable in providing individuals and corporations with an extensive menu of bespoke business and life solutions.</p>

<p>Our expertise is in international education, residency & migration, and other categories of visa. Each of our team members has a minimum of 5 years’ experience in their respective fields, with many having more than 10. Instinctively, you will know you are in the right hands.
</p>
             
      
            </div>
          </div>
          <div class="col-lg-6">
            <div class="company-stats">
              <div class="row">
                <div class="col-lg-6 col-6 m-pr7">
                  <div class="stats-box stat-bx-1" data-aos="fade-up" data-aos-delay="200">
                    <span class="sub-heading mb20">Study Abroad</span>
                    
                    <p class="mt20">We offer a wide range of advisory services on study pathway in different countries </p>
                  </div>
                  <div class="stats-box stat-bx-2 mt20" data-aos="fade-up" data-aos-delay="600">
                    <span class="sub-heading mb20">International Realty</span>
                 
                    <p class="mt20">Our international real estate strategy is focused on building a diversified portfolio for our clients.</p>
                  </div>
                </div>
                <div class="col-lg-6 col-6 m-pl7">
                  <div class="stats-box stat-bx-3 mt100" data-aos="fade-up" data-aos-delay="400">
                    <span class="sub-heading mb20">Residency&Citizenship</span>
                  
                    <p class="mt20">Our solutions are targeted at plugging into international opportunities.</p>
                  </div>
                  <div class="stats-box stat-bx-4 mt20" data-aos="fade-up" data-aos-delay="800">
                    <span class="sub-heading mb20">Franchising</span>
                    
                    <p class="mt20">We help our clients to either diversify their business portfolio or start a business by investing in a franchise business that is highly cash generative
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
	

