
@{
    ViewData["Title"] = "Internation_Realty";
}
<!-- Header title -->
   <section class="header-title head-dez3 dark-bg pera-block">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
             
            </div>			
         </div>
      </div>
   </section>
   <!-- Header title end -->
      <!--page head-->
      <div class="port-head-sec sec-pad r-bg-x">
         <div class="container">
            <div class="row vcenter">
               <div class="col-lg-6">
                  <div class="page-headings">
                     <span class="sub-heading mb15" data-aos="fade-up" data-aos-delay="200"></span>
                     <h1 class="mb15" data-aos="fade-up" data-aos-delay="400">International Realty</h1>
                     <p class="h-light" data-aos="fade-up" data-aos-delay="600">SevenOneSeven Global is staffed by some of the most experienced international realtors in the world, so whether you are looking for somethings small and basic or a luxurious penthouse or mansion, our realtors will find and negotiate the best possible deal for you.

</p>
<p class="h-light" data-aos="fade-up" data-aos-delay="600">If you don’t see anything you like in our offerings, be sure to ask us about or off-market listings and availability. We will always have something special for our more discerning clients.
</p>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="sol-img m-mt30" data-aos="fade-in" data-aos-delay="400"><img src="~/images/img/International_realty.png" alt="our-staff" class="img-fluid"></div>
               </div>
            </div>
         </div>
      </div>
        <!--page head end-->







