
@{
    ViewData["Title"] = "R_Canada";
}

<!-- Header title -->
   <section class="header-title head-dez3 dark-bg pera-block">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
             
            </div>			
         </div>
      </div>
   </section>
   <!-- Header title end -->


      <!--page head-->
      <div class="port-head-sec sec-pad r-bg-x">
         <div class="container">
            <div class="row vcenter">
               <div class="col-lg-6">
                  <div class="page-headings">
                     <span class="sub-heading mb15" data-aos="fade-up" data-aos-delay="200"></span>
                     <h1 class="mb15" data-aos="fade-up" data-aos-delay="400">CANADA RESIDENCY</h1>
                     <p class="h-light" data-aos="fade-up" data-aos-delay="600">Frequently voted one of the best countries in the world to live. High standard of living, work, education, health, and personal security.
</p>
<br />
<br />

  
 <p class="h-light" data-aos="fade-up" data-aos-delay="600">Work permit within 6 months,</p>
    <p class="h-light" data-aos="fade-up" data-aos-delay="600">PR within 18 months and citizenship withing 3 – 5 years.</p>
 <p class="h-light" data-aos="fade-up" data-aos-delay="600">Visa free to 185+ countries.</p>

                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="sol-img m-mt30" data-aos="fade-in" data-aos-delay="400"><img src="~/images/img/Canada.png" alt="our-staff" class="img-fluid"></div>
               </div>
            </div>
         </div>
      </div>
        <!--page head end-->
