
@{
    ViewData["Title"] = "R_Portugal";
}
<!-- Header title -->
   <section class="header-title head-dez3 dark-bg pera-block">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
             
            </div>			
         </div>
      </div>
   </section>
   <!-- Header title end -->


      <!--page head-->
      <div class="port-head-sec sec-pad r-bg-x">
         <div class="container">
            <div class="row vcenter">
               <div class="col-lg-6">
                  <div class="page-headings">
                     <span class="sub-heading mb15" data-aos="fade-up" data-aos-delay="200"></span>
                     <h1 class="mb15" data-aos="fade-up" data-aos-delay="400">PORTUGAL RESIDENCY</h1>
                     <p class="h-light" data-aos="fade-up" data-aos-delay="600">Portugal is fast becoming a destination for obtaining European residency and citizenship. It currently has the most flexible stay requirement for a European citizenship – 7 days per year, for 5 years via the Golden visa program. Other programs are also available.
</p>

<br />
<br />
         				
                    <p class="h-light" data-aos="fade-up" data-aos-delay="600">Visa within 3 – 6 months, and passport after 4/6 years</p>
                     <p class="h-light" data-aos="fade-up" data-aos-delay="600">Visa free to 185+ countries.</p>
                    
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="sol-img m-mt30" data-aos="fade-in" data-aos-delay="400"><img src="~/images/img/Portugal.png" alt="our-staff" class="img-fluid"></div>
               </div>
            </div>
         </div>
      </div>
        <!--page head end-->

