
@{
    ViewData["Title"] = "R_Spain";
}
<!-- Header title -->
   <section class="header-title head-dez3 dark-bg pera-block">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
             
            </div>			
         </div>
      </div>
   </section>
   <!-- Header title end -->


      <!--page head-->
      <div class="port-head-sec sec-pad r-bg-x">
         <div class="container">
            <div class="row vcenter">
               <div class="col-lg-6">
                  <div class="page-headings">
                     <span class="sub-heading mb15" data-aos="fade-up" data-aos-delay="200"></span>
                     <h1 class="mb15" data-aos="fade-up" data-aos-delay="400">SPAIN RESIDENCY</h1>
                     <p class="h-light" data-aos="fade-up" data-aos-delay="600">No need to travel to Greece to receive your EU residency cards. It is all done remotely & you ‘ll receive it in your home country with 6 months.
</p>
         			
 <p class="h-light" data-aos="fade-up" data-aos-delay="600">Visa within 6 months, and passport after 8 years</p>
 <p class="h-light" data-aos="fade-up" data-aos-delay="600">Visa free to 185+ countries.</p>

                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="sol-img m-mt30" data-aos="fade-in" data-aos-delay="400"><img src="~/images/img/Spain 2.pngSS" alt="our-staff" class="img-fluid"></div>
               </div>
            </div>
         </div>
      </div>
        <!--page head end-->

