
@{
    ViewData["Title"] = "Study_in_Unitedstates";
}

<!-- Header title -->
   <section class="header-title head-dez3 dark-bg pera-block">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
             
            </div>			
         </div>
      </div>
   </section>
   <!-- Header title end -->


      <!--page head-->
      <div class="port-head-sec sec-pad r-bg-x">
         <div class="container">
            <div class="row vcenter">
               <div class="col-lg-6">
                  <div class="page-headings">
                     <span class="sub-heading mb15" data-aos="fade-up" data-aos-delay="200"></span>
                     <h1 class="mb15" data-aos="fade-up" data-aos-delay="400">Study in United States</h1>
                     <p class="h-light" data-aos="fade-up" data-aos-delay="600">The United States of America (USA) hosts the most number of international students in the world boasts of some of the finest universities in the world, a lot of which consistently rank in the world university rankings. American institutions are also known to have high academic standard, and offer a myriad of courses and programs to choose from. You have the freedom to not only select the course content, but also the structure. At the undergraduate level, you have the liberty to pursue different courses before they you declare your major at the end of the second year. 
</p>
<p class="h-light" data-aos="fade-up" data-aos-delay="600">American universities understand the struggles of international students and therefore conduct regular orientation programs, workshops and trainings to offer assistance. The US is a melting pot of different cultures, races and ethnicities. Its diverse environment ensures that there is acceptance among all communities and there is no room for any sort of 
</p>
<p class="h-light" data-aos="fade-up" data-aos-delay="600" >CThe US is a melting pot of different cultures, races and ethnicities. Its diverse environment ensures that there is acceptance among all communities and there is no room for any sort of 
discrimination. You’ll be learning with students from different regions of the world thereby making it a rich and stimulating education experience. Growing in the midst of diversity will provide you with strong personality traits and skills that will be valuable in the international market. These days employers prefer students with a multi-cultural background, which you would get a great taste of in the US. A one of a kind international exposure, the US will help you explore variety of cuisines, customs, festivals and art too.

 </p>

                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="sol-img m-mt30" data-aos="fade-in" data-aos-delay="400"><img src="~/images/img/7.png" alt="our-staff" class="img-fluid"></div>
               </div>
            </div>
         </div>
      </div>
        <!--page head end-->











