
@{
    ViewData["Title"] = "Study_in_Portugal";
}
<!-- Header title -->
   <section class="header-title head-dez3 dark-bg pera-block">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
             
            </div>			
         </div>
      </div>
   </section>
   <!-- Header title end -->


      <!--page head-->
      <div class="port-head-sec sec-pad r-bg-x">
         <div class="container">
            <div class="row vcenter">
               <div class="col-lg-6">
                  <div class="page-headings">
                     <span class="sub-heading mb15" data-aos="fade-up" data-aos-delay="200"></span>
                     <h1 class="mb15" data-aos="fade-up" data-aos-delay="400">Study in Portugal</h1>
                     <p class="h-light" data-aos="fade-up" data-aos-delay="600">Higher education in Portugal is aligned to other countries in Europe, making Portuguese Bachelor’s degrees, Master’s degree, and Doctorates comparable across the continent.
</p>
<p class="h-light" data-aos="fade-up" data-aos-delay="600">Similar to other countries, Portugal distinguishes between primarily research-driven universities and more practice-oriented polytechnics. Most courses are taught in Portuguese, but there is a growing number of courses taught in English - particularly at the Master’s level.</p>

<p class="h-light" data-aos="fade-up" data-aos-delay="600">Tuition fees in Portugal are relatively modest. Public universities generally charge less than 1,500 EUR per year for their Bachelor and Master programmes; some private universities may charge up to 4,000 EUR per year. </p>
<p class="h-light" data-aos="fade-up" data-aos-delay="600">The largest university in Portugal is the University of Lisbon located in the country’s capital. Founded in 1911, today there are nearly 50,000 students. It offers a broad range of subjects and is well-respected internationally. </p>
<p class="h-light" data-aos="fade-up" data-aos-delay="600">Number two by size, the University of Porto is also among the highest-placed Portuguese universities in the world rankings, and 10% of its students are international. Founded in 1911, it is known for its strong academic research.
Portugal’s oldest university looks back at a history of more than 700 years: The University of Coimbra was founded in 1290 and today educates some 22,000 students. This university benefits from one of the largest cohorts of international students in Portugal
 </p>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="sol-img m-mt30" data-aos="fade-in" data-aos-delay="400"><img src="~/images/img/5.png" alt="our-staff" class="img-fluid"></div>
               </div>
            </div>
         </div>
      </div>
        <!--page head end-->












