
@{
    ViewData["Title"] = "Study_in_Canada";
}

<!-- Header title -->
   <section class="header-title head-dez3 dark-bg pera-block">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
             
            </div>			
         </div>
      </div>
   </section>
   <!-- Header title end -->


      <!--page head-->
      <div class="port-head-sec sec-pad r-bg-x">
         <div class="container">
            <div class="row vcenter">
               <div class="col-lg-6">
                  <div class="page-headings">
                     <span class="sub-heading mb15" data-aos="fade-up" data-aos-delay="200"></span>
                     <h1 class="mb15" data-aos="fade-up" data-aos-delay="400">Study in Canada</h1>
                     <p class="h-light" data-aos="fade-up" data-aos-delay="600">Canada places a lot of importance to education and maintains very high standards in education. A degree acquired from Canadian universities in recognized globally and is valued highly in the international job market. Canada is renowned for its research-intensive universities. Canada is ranked 4th in the world for scientific research.
</p>
<p class="h-light" data-aos="fade-up" data-aos-delay="600">The choice of schools in Canada is wide and varied, from major research institutions to small liberal arts schools & universities offer a wide range of undergraduate, graduate and professional degree programmes in a very flexible mode. Canada has 100 universities, 200 colleges & renowned institutes, accredited language schools as well as specialised institutes.
Canada offers not only quality education, but education which is affordable for international including Indian students. Compared to countries like the UK, USA and Australia, cost of education in Canada is quite moderate.</p>
<p class="h-light" data-aos="fade-up" data-aos-delay="600">Canada is one of the few nations that offer job opportunities to students who have graduated from Canadian Universities and have obtained a Canadian degree. In fact, after finishing their studies, international students can work in Canada for up to 3 years! </p>

                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="sol-img m-mt30" data-aos="fade-in" data-aos-delay="400"><img src="~/images/img/4.png" alt="our-staff" class="img-fluid"></div>
               </div>
            </div>
         </div>
      </div>
        <!--page head end-->











