
@{
    ViewData["Title"] = "Study_in_Belgium";
}
<!-- Header title -->
   <section class="header-title head-dez3 dark-bg pera-block">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
             
            </div>			
         </div>
      </div>
   </section>
   <!-- Header title end -->


      <!--page head-->
      <div class="port-head-sec sec-pad r-bg-x">
         <div class="container">
            <div class="row vcenter">
               <div class="col-lg-6">
                  <div class="page-headings">
                     <span class="sub-heading mb15" data-aos="fade-up" data-aos-delay="200"></span>
                     <h1 class="mb15" data-aos="fade-up" data-aos-delay="400">Study in Belgium</h1>
                     <p class="h-light" data-aos="fade-up" data-aos-delay="600">If you want to study in Belgium in English, there is a large number of universities to choose from - many of which are highly reputed, top-ranked institutions.

</p>
<p class="h-light" data-aos="fade-up" data-aos-delay="600">KU Leuven is Belgium’s largest university and one of the oldest in Europe as it was founded almost 600 years ago. It has a stunning reputation for research and is often ranked in the top 50 universities worldwide. The philosopher Erasmus was part of the university for many years as was the cartographer Gerardus Mercator, who created the Mercator map projection which became the standard particularly for nautical purposes.</p>
<p >Founded in 1817, Ghent University is younger by far but also well-regarded in the world rankings, coming in the top 100. Covering 11 campuses, international students generally number about 10% of the 41,000 student population. All bachelor programmes are taught in Dutch here, but many of the Masters and postgraduate courses can be pursued in English. </p>
<p class="h-light" data-aos="fade-up" data-aos-delay="600">Another university founded in 1817, the University of Liège is the only public university for French speakers from Brussels. More than half of its budget is spent on research, with much inter-disciplinary research undertaken by its faculty.</p>
<p class="h-light" data-aos="fade-up" data-aos-delay="600">The Free University of Brussels was founded in 1834, but split into two in 1969. The two different universities are known as the Free Brussels Universities and continue to collaborate today. They are ULB, which is French-speaking, and VUB, which is predominantly Dutch; together, more than 20% of their student intake is international.</p>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="sol-img m-mt30" data-aos="fade-in" data-aos-delay="400"><img src="~/images/img/3.png" alt="our-staff" class="img-fluid"></div>
               </div>
            </div>
         </div>
      </div>
        <!--page head end-->









