
@{
    ViewData["Title"] = "Study_in_Austria";
}
<!-- Header title -->
   <section class="header-title head-dez3 dark-bg pera-block">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
             
            </div>			
         </div>
      </div>
   </section>
   <!-- Header title end -->


      <!--page head-->
      <div class="port-head-sec sec-pad r-bg-x">
         <div class="container">
            <div class="row vcenter">
               <div class="col-lg-6">
                  <div class="page-headings">
                     <span class="sub-heading mb15" data-aos="fade-up" data-aos-delay="200"></span>
                     <h1 class="mb15" data-aos="fade-up" data-aos-delay="400">Study in Austria</h1>
                     <p class="h-light" data-aos="fade-up" data-aos-delay="600">For such a small country, the excellence of Austria’s universities is recognised worldwide. Many of them rank highly in international university rankings, ensuring you of a good quality education should you decide to study here. As well as that, the bonus for students originating elsewhere in the European Union is that tuition at any of the public universities is free. Even if you are coming from a country outside the EU, the fees are very reasonable and lower than many in the rest of Europe - with around 1,500 EUR per year. The private universities can set their own rates which can be considerably higher, but there is so much choice for international students, you are sure to find one that suits your budget and your educational aspiration.
</p>
<p class="h-light" data-aos="fade-up" data-aos-delay="600">The University of Vienna is the oldest university in the German-speaking world as it was founded in 1365, and is perfectly placed in a town famous for its culture as well as nightlife. Associated with 15 Nobel Prize winners, and has nearly 200 different degree programmes to choose from, many of them taught in English.</p>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="sol-img m-mt30" data-aos="fade-in" data-aos-delay="400"><img src="~/images/img/1.png" alt="our-staff" class="img-fluid"></div>
               </div>
            </div>
         </div>
      </div>
        <!--page head end-->






