
@{
    ViewData["Title"] = "Study_in_Sweden";
}

<!-- Header title -->
   <section class="header-title head-dez3 dark-bg pera-block">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
             
            </div>			
         </div>
      </div>
   </section>
   <!-- Header title end -->
      <!--page head-->
      <div class="port-head-sec sec-pad r-bg-x">
         <div class="container">
            <div class="row vcenter">
               <div class="col-lg-6">
                  <div class="page-headings">
                     <span class="sub-heading mb15" data-aos="fade-up" data-aos-delay="200"></span>
                     <h1 class="mb15" data-aos="fade-up" data-aos-delay="400">Study in Sweden</h1>
                     <p class="h-light" data-aos="fade-up" data-aos-delay="600">Almost 40 universities are located in Sweden, many of which make it into top ranks globally, such as Uppsala University, Lund University or Stockholm University. Sweden has been one of the European pioneers for switching to English-language tuition and offers a whopping 900 degrees to choose from.</p>
<p class="h-light" data-aos="fade-up" data-aos-delay="600">Studying in Sweden is free of charge for citizens of the EU/EEA and those with a permanent Swedish residence permit. Others may have to pay tuition fees that commonly ranges between 80,000 and 140,000 SEK per year – ca. 8,000 to 15,000 EUR, or 9,000 to 17,000 USD. There is also an application fee for those from outside the EU/EEA.</p>
<p >If you are from outside the EU/EEA, you may need to obtain a student visa. Check with the Swedish authorities to find out how to </p>
<p class="h-light" data-aos="fade-up" data-aos-delay="600">Sweden is home to a number of internationally successful corporations – think Volvo, IKEA or H&M – but also to some of the most exciting startups of recent years – think Skype or Spotify. The internationality of such employers as well as the high proficiency of English among Swedes make it fairly easy for qualified international graduates to get the foot in the door of the Swedish job market, even when their knowledge of Swedish is limited. Sweden's government has also put an effort into decreasing red tape for foreign nationals looking to join the local workforce. </p>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="sol-img m-mt30" data-aos="fade-in" data-aos-delay="400"><img src="~/images/img/2.png" alt="our-staff" class="img-fluid"></div>
               </div>
            </div>
         </div>
      </div>
        <!--page head end-->








